.App {
  max-width: 100vw;
  height: 100vh;
}
.border-box {
  box-sizing: border-box;
}
:root {
  --width-result: 80%;
}
.head-container {
  margin: 0 auto;
  text-align: center;
  max-width: 740px;
  width: 95%;
}
.dictionary-head-name {
  font-size: 40px;
  color: #ccc;
  padding: 5px 10px;
}

.dictionary-search {
  overflow: hidden;
  display: flex;
  height: 50px;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
  border-radius: 34px;
}
.dictionary-search-btn {
  height: 100%;
  border: 0;
  background: #00ad5f;
  color: white;
  font-weight: 300;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  min-width: 216px;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}
.dictionary-search-input {
  height: 100%;
  background: #d9f1e3;
  border: 0;
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  color: #000;
}
.dictionary-search-input:hover,
.dictionary-search-input:focus {
  outline: 0;
}
.dictionary-search-btn:hover {
  background: #009451;
}
.searched-word {
  text-align: center;
  margin-top: 5px;
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}
.searched-word span {
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .dictionary-search-btn {
    min-width: 100px;
  }
  :root {
    --width-result: 90%;
  }
}
.not-found {
  text-align: center;
}
.not-found p {
  font-size: 14px;
}
.not-found a {
  transition: all 0.5s linear;
  cursor: pointer;
  color: #00ad5f;
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
}
.result-container {
  margin: 0 auto;
  width: var(--width-result);
  padding-left: 10px;
}
.result-headers {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #00ad5f;
}
.definition-li {
  padding-left: 10px;
  text-transform: capitalize;
  padding-top: 5px;
}
#example {
  font-style: italic;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 7px 7px 10px #009451;
  -moz-box-shadow: 7px 7px 10px #009451;
  box-shadow: 7px 7px 10px #009451;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #009451;
  -webkit-box-shadow: 2px 2px 4px 0px #009451;
  box-shadow: 2px 2px 4px 0px #009451;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  margin: 0 auto;
}
